3.1. Mejora en la visualización de los datos de los establecimientos educativos, específicamente las instituciones

(con y sin requerimientos).

3.2. Ajustes mínimos en las interfaces gráficas de usuario que mejoren la usabilidad de la plataforma.



3.3. Apertura técnica de los conjuntos de datos utilizados para las visualizaciones de Mobiliarios y

Abastecimiento de agua. Se debe cumplir con al menos el tercer nivel de estándar de publicación de datos

abiertos definido por Tim Bernes-Lee (http://5stardata.info/). Esta actividad incluye, entre otras, las

siguientes tareas:

3.3.1. Creación del diccionario y modelo formal de datos.

3.3.2. Desarrollar una página HTML con una tabla filtrable dinámicamente por columnas para mostrar

cada uno de los conjuntos de datos. La página deberá estar anotada con Microdata o RDFa

utilizando las clases necesarias de Schema.org (DataCatalog, Dataset, DataDownload).

3.3.3. Desarrollar el esquema de descarga de datos en formato CSV (Comma Separated Value), con su

correspondiente archivo MD5 el cual permitirá la verificación de cambio en los datos contenidos en

los archivos CSV. El conjunto de datos deberá poder ser descargado en su totalidad y también

considerando únicamente los datos filtrados.

3.3.4. La plataforma deberá contener un archivo data.json (definido en https://project-open-
data.cio.gov/) que liste el conjunto de datos para ser catalogado automáticamente en el Catálogo

Nacional de Datos Abiertos (https://github.com/SENATICS/ckanext-datajson).

3.4. Pruebas y validaciones con los usuarios finales.

3.5. Entrega de la funcionalidad y transferencia de conocimientos al equipo técnico del MEC a cargo del

mantenimiento posterior de los productos desarrollados.